<div ng-if="$ctrl.loggedIn">
  <ul class="nav navbar-nav navbar-hovercard-link">
    <li>
      <a ng-click="$ctrl.hovercard.show=!$ctrl.hovercard.show;$ctrl.hovercard.triggerClicked=true">{{$ctrl.identity.label || '-'}}</a>
    </li>
  </ul>
  <a class="btn navbar-btn navbar-link pull-right" stackable-trigger="$ctrl.hovercard" stackable-toggle="'active'"><i class="fa fa-user"></i></a>
  <stackable-popover stackable="$ctrl.hovercard"
    stackable-placement="bottom"
    stackable-alignment="right"
    br-lazy-compile="$ctrl.hovercard.show" br-lazy-id="br-navbar-hovercard">
    <h3 class="stackable-popover-title">{{$ctrl.identity.label}}</h3>
    <div class="stackable-popover-body">
      <table class="table table-condensed hovercard">
        <tbody>
          <tr>
            <td><strong>Email:</strong></td>
            <td>{{$ctrl.identity.email}}</td>
          </tr>
        </tbody>
      </table>
      <div ng-show="$ctrl.identity" class="divider"></div>
      <ul class="dropdown-menu stackable-menu">
        <li>
          <a class="stackable-cancel" style="padding-left: 3px"
            ng-click="$ctrl.refreshData()"><i class="fa fa-refresh"></i> Refresh</a>
        </li>
        <li>
          <a ng-click="$ctrl.logout()" style="padding-left: 3px"><i class="fa fa-sign-out"></i> Sign Out</a>
        </li>
      </ul>
    </div>
  </stackable-popover>
</div>
